html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(42deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(223, 246, 250, 1) 100%);
}

.topBg {
  width: 160%;
  background: no-repeat url(/resources/main/img/bg1.png);
  height: 100%;
  z-index: -10;
  position: absolute;
  background-size: 120%;
  right: -30%;
}

#midBg {
  background: no-repeat url(/resources/main/img/bg2.png);
  overflow: hidden;
  right: 0;
  width: 100%;
  top: 57%;
  height: 45%;
  left: 40%;
  background-size: 73% 95%;
}

.bannerImg img {
  width: 32%;
  right: 14%;
  position: absolute;
  top: 65px;
}

#desc {
  height: 501px;
  background: rgb(255, 255, 255);
  background: linear-gradient(-21deg, rgb(255, 57, 143) -42%, rgba(0, 212, 255, 0) 25%);
}
#desc_point{
border-top: 12px solid #ff5671;
    border-left: 12px solid #ff5671;
    width: 14%;
    height: 4%;
    position: absolute;
    left: 18%;
    top: 22%;
}
#dleft {
list-style: none;
    width: 36%;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 24%;
    right: 42%;
}

.desc_word {}

.desc_word h2 {
  font-weight: 700;
  margin-bottom: 4%;
}


.desc_word h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.desc_important {
  font-size: 1.5rem;
  margin-top: 4%;
  font-weight: 600;
  float: left;
}

#desc_eventBttn {
padding: 10px;
    border: solid;
    text-align: center;
    width: 34%;
    font-size: 1.2rem;
    margin-top: 15%;
    background: #ff5671;
    color: white;
    font-weight: 500;
}
#desc_eventBttn:hover {
 background:white; color:#4c39e4; transition-delay: 1ms; transition: all 0.2s linear 0s;
 border:5px solid #4c39e4; font-weight:700;
 }

#dright {}

#virus1,
#virus2 {
  display: block;
  position: absolute;

}

@keyframes float {
  26% {
    transform: translate(0, 20px);
  }
}

#virus1 {
  width: 21%;
  right: 22%;
  animation: float 3s ease-out infinite;
}

#virus2 {
  width: 11%;
  right: 11%;
  top: 25%;
  animation: float 5s ease-out infinite;

}

#desc_mid {
  width: 100%;
  background: #4c39e4;
  text-align: center;
  color: white;
  padding: 7% 4%;
  font-size: 1.5rem;
  margin-bottom: 4%;

}

#uniqr {
  font-weight: 700;
  border-bottom: 2px solid #e0e0e0;
  width: 36%;
  margin: 1% auto;
  margin-bottom: 2%;
}

#descMidBttn {
  display: inline-block;
  padding: 0px 31px;
  border: 5px solid #ff5671;
  color: white;
}
#descMidBttn:hover {
 background: white; color: #5218ba; transition-delay: 1ms; transition: all 0.2s linear 0s;
 }


#uniqr:visited {
  color: white;
}

#desc2{
height: 600px;
    background: #ffffff;
}

#desc_point2{
	
}

#bleft{
	
}
.desc_important2{        
	margin: 6% 0;
    font-size: 1.2em;
	
}
#lesson{
width: 37%;
    position: absolute;
    bottom: 3%;
    left: 17%;
}

#desc2_word{
	
}
#desc2_word h2{
	margin-bottom: 10%;    letter-spacing: -1px;
}
desc2_word h5{
	
}

#desc_eventBttn2 {    padding: 10px 12px;
    text-align: center;
    width: 47%;
    font-size: 1.2rem;
    margin-top: 11%;
    background: white;
    color: #4c39e4;
    border: 5px solid #4c39e4;
    font-weight: 700;
    margin-left: 2%;
}
#desc_eventBttn2:hover {

    background: #ff5671;
    color: white;
    transition-delay: 1ms; transition: all 0.2s linear 0s;
 }
#bright{
    position: absolute;
    bottom: 6%;
    right: 16%;
}




#MItemList {
  margin-top: 150px;
}





/* 메인베너 */
#MainBanner {
  width: 100%;
  margin: auto;
  top: 0;
  position: relative;
  height: 680px;
}

#descSection {
  position: absolute;
  top: 180px;
  left: 28%;
  color: white;
}

#descSection h2 {
  margin-bottom: 5%;
}

.desc {
  letter-spacing: -1px;
  font-size: 1.2em;
  margin: 3px;
}

#carouselExampleCaptions {
  height: 500px;
}

.carousel-inner {
  width: 80%;
}

.carousel-caption {
  left: 0;
}

.bannerTitle {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  top: 148px;
  position: absolute;
  letter-spacing: 0px;
  left: 7%;
}

.bannerBttn {
  width: 200px;
  border: 2px solid white;
  padding: 13px 4px;
  color: white;
  display: block;
  position: absolute;
  font-size: 1.3em;
  top: 170px;
  left: 20px;
  text-align: center;
}


.bannerBttn:hover {
  background: white;
  color: #5218ba;
  transition-delay: 1ms;
  transition: all 0.2s linear 0s;



}

/* .bannerBttn:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
} */

/* 라이브목록 */

#liveTitleSection {
  position: absolute;
  width: 500px;
  text-align: center;
  height: 60px;
  font-size: 1.3em;
  font-weight: 600;
  top: -33px;
}

#mliveList {
  width: 100%;
  height: 350px;
  margin-top: 60px;
}

#liveListTitle {
display: inline-block;
    background: white;
    width: 50%;
    padding: 5px;
    border: 1px solid #cecece;
}

#mlive {
  width: 100%;
  animation: A1 21s ease infinite;
  display: block;
  position: absolute;
  height: 300px;
  top: 700px;
}

#onAir {
  background: #ff5671;
  color: white;
  display: inline-block;
  width: 200px;
  padding: 5px;
}

@keyframes A1 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#livecard {
  float: left;
  margin: 30px 10px;
  max-width: 540px;
  height: 164px;
  padding: 10px;
  box-shadow: 16px 17px 13px -6px rgba(117, 117, 117, 0.58);
}

.liveName {
  font-size: 1.1em;
  letter-spacing: 1px;
}

.liveListTitle {
  background: wheat;
  text-align: center;
  padding: 15px 30px;
  font-size: 1.5em;
  font-weight: 700;
}

.body {
  padding: 20px;
}

.body {}

.lecThumbImg {
  background-color: grey;
  width: 220px;
  height: 140px;
}

/* m리스트 */
.MitemLists {
  width: 1350px;
  margin: auto;
  position: relative;
  top: 0;
}

.card-title {
  font-family: "Spoqa Han Sans", sans-serif;
}

.listTitle {
  display: block;
  padding: 10px 0 10px 35px;
  margin: 10px;
  width: 1413px;
  font-size: 1.7em;
  background-color: white;
  letter-spacing: 1px;
  font-weight: 600;
  color: #5e636d;
}

#mlistLecTitleBig {
  font-size: 1.4em;
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
}

#mlistLecPriceBig {
  display: inline-block;
  float: left;

}

.big {
  font-size: 1.2em;
}

#mlistLecStartDateBig {
  font-size: 0.8em;
}

#mlistLecTitle {
  font-size: 1.1em;
}

#mlistLecPrice {
  display: inline-block;
  float: left;
}

#mlistLecStartDate {
  /* display: inline-block; */
}

#lecStartDate {
  display: inline-block;
}

#lecEndDate {
  display: inline-block;
}

#listNameBox {
  background: linear-gradient(270deg, #9951ff, #f65d76, #c3f65d);
  background-size: 400% 400%;
  border-radius: 7px;
  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  animation: mListName 24s ease infinite;
}

@keyframes mListName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.rounded-circle {
  width: 290px;
  vertical-align: middle;
  border-style: none;
}

#card-point {
  min-width: 400px;
}

#card-point img {
  height: 250px;
}

.card-img-top {
  background: rgb(79, 77, 88);
  width: 100%;
  height: 180px;
}

.card-img-top1 {
  width: 100%;
  background: rgb(79, 77, 88);
  height: 300px;
}

.card-deck .card {
  margin: 15px 10px !important;
  border: 0;
  width: 280px;
}

.Mnew {
  margin-top: 65px;
}

.card {
  height: 50%;
  margin-top: 10%;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* m리스트2 */
/* 분야별 베스트 유니커 */
.bg {
height: 724px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(182, 195, 204, 0.68) 38%, rgba(0, 212, 255, 0) 129%);
    width: 100%;
    position: absolute;
    bottom: 17%;
}

.Mpopular {
  margin: 100px 0;
}

#uniTitle0 {
  background: linear-gradient(270deg, #9951ff, #f65d76, #2c4fbb);
  background-size: 400% 400%;
  border-radius: 7px;
  -webkit-animation: AnimationName 24s ease infinite;
  -moz-animation: AnimationName 24s ease infinite;
  animation: mListName 24s ease infinite;
  height: 283px;
  border-radius: 172px;
}

#uniTitle {
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
  width: 386px;
  padding: 10px 0 10px 10px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 60px;
  margin-top: 24px;
}

#uniCard {
  background: none;
  top: -182px;
}

#card-body1 {
  background: #601dc4;
  border-radius: 20px;
  color: white;
  border: 2px solid #9432b4;
}

.mCategory {
  margin: auto;
  padding: 8px 10px;
  width: 190px;
  text-align: center;
  margin-bottom: 29px;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
}

#itUniImg {
  width: 240px;
  border: 2px solid #9432b4;
}

.uniStudentCnt {
  color: #d0d0d0;
}

.lecCount {
  text-align: center;
  display: block;
  position: absolute;
  padding: 10px 20px;
  background-color: antiquewhite;
  border-radius: 3px;
  top: 230px;
  left: 150px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1em;
}

#mItBestName {
  margin-left: 20px;
  letter-spacing: 1px;
}

#mItRate {}

#totalStudentCount {
  display: inline-block;
  margin-left: 10px;
}