body {
  background-color: rgb(248, 249, 250);
}

h3 {
  display: block;
  border-left: 10px solid;
  padding: 10px 20px;
  margin-bottom: 50px;
}

#uploadWrapper {
  width: 1300px;
  margin: auto;
  position: relative;
  display: block;
  box-shadow: 0px 3px 18px -8px rgba(0, 0, 0, 0.48);
  background-color: white;
  padding: 80px;
  border: #e2e2e2 1px solid;
  border-radius: 5px;
  margin-bottom: 100px;
  margin-top: 30px;
}

#content label {
  padding: 7px 20px;
  float: left;
  width: 165px;
  border-right: 5px solid #f3f3f3;
  font-size: 1.2em;
  font-weight: 550;
  color: #5e636d;
  margin-left: 50px;
}

.ex {
  color: #727c86;
}

.scheduleInput {}

.ui-block-a {
  width: 60%;
  display: inline-block;
}

.ui-block-b {
  display: inline-block;
}


.list-group {
  width: 700px;
}

.list-group-item {
  padding: 12px;
  height: 50px;
}

.list-group-item span {
  display: inline-block;
  margin-left: 20px;
}

.category {
  display: inline-block;
  width: 265px;
}

#datepicker {
  width: 30%;
  display: inline-block;
}

#datepicker2 {
  width: 30%;
  display: inline-block;
}


.textarea {}

#lessonDesc {
  width: 700px;
}

#descText {}

#taskListSection5 {
  list-style: none;
  padding: 0;
  width: 700px;
  margin-left: 200px;
}

#uploadfile {
  width: 400px;
  height: 280px;
}

#imgcard {
  background: #f8f9fa;
  padding: 10px;
  height: 92%;
}

.imgbox {
  display: inline-block;
  text-align: center;
  height: 100%;
  border: 3px solid #f3f3f3;
  background: #f8f9fa;
  padding: 10px;
}

#imgsection {}

.videlink {
  width: 700px;
  display: inline-block;
}

#content form {
  margin: auto;
  width: 1100px;
}

#uploadForm {}

#uploadForm table {
  width: 1100px;
  margin-top: 55px;
}

#uploadForm tr {}

#uploadForm td {
  padding: 10px 0;
}

#liveURL {
  margin-left: 16px;
  padding: 0 !important;
}

.descSection {
  margin: 25px 0 20px 210px;
}

.desc {
  margin: 10px;
  font-size: 15px;
  color: #5e636d;
}

#streamSection {
  background-color: #f5f5f5;
  border-left: 16px solid #ff7b7b;
  border-top: 1px solid #ff7b7b;
  border-bottom: 1px solid #ff7b7b;
  border-right: 1px solid #ff7b7b;
  padding: 15px 0px 8px 0px !important;
}

#sampleSection {
  padding: 20px 0 !important;
}

#content {}

#inputTitle {
  display: inline-block;
  width: 55%;
}



#submitbttn {
  float: right;
  width: 250px;
  padding: 10px;
  margin-top: 50px;
}


#priceSection {
  padding: 20px 0 !important;
}

h5 {
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
  display: inline-block;
}

#priceInput {
  width: 500px;
  float: left;
}